.purpleButton {
    background-color: #B48CF2;
    border: solid 1px var(--gray600);
    border-radius: 50px;
    cursor: pointer;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-1);
    font-size: var(--unit-rem-16);
    font-weight: var(--font-weight-5);
    line-height: var(--font-line-height-1);
    padding: 4px 0px;
    text-decoration-line: none;
    white-space: nowrap;
}

.purpleButton-enable {
    background-color: #4E2096;
    border: solid 1px var(--gray600);
    border-radius: 50px;
    cursor: pointer;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-1);
    font-size: var(--unit-rem-16);
    font-weight: var(--font-weight-5);
    line-height: var(--font-line-height-1);
    padding: 4px 0px;
    text-decoration-line: none;
    white-space: nowrap;
}

.button-text {
    position: absolute;
    left: 19.6%;
    cursor: pointer;
    font-family: var(--font-family-1);
    font-size: var(--unit-14);
    font-weight: var(--font-weight-5);
    transition: all 0.2s;
}

.button-text-hidden {
    color: var(--total-opacity);
}

.button-spinner::after {
    animation: button-spinner 1s ease infinite;
    content: "";
    background-image: url(../Img/spinner.svg);
    position: absolute;
    height: 25px;
    width: 25px;
    left: 47%;
}

@keyframes button-spinner {
    from {
        transform:  rotate(0turn);
    }
    to{
        transform:  rotate(1turn)
    }
}

.nav-btn{
    background-color: white;
border: 1px solid #4E2096;
border-radius: 16px;
padding: 2px 12px;
font-family: inherit;
font-weight: 600;
font-size: 12px;
line-height: 22px;
color: #4E2096;
cursor: pointer;
}
.nav-btn:hover{
    background-color:#4E2096;
    color: white;
}
@media (min-width: 800px) {
    .nav-btn {
        padding: 4px 24px;
        font-size: 16px;
    }
  }